# Ignore node_modules directories
Duke-Game-Frontend/node_modules/
Duke-Game-Backend/node_modules/

# Ignore log files and directories
*.log
Duke-Game-Frontend/*.log
Duke-Game-Backend/*.log

# Ignore environment files
Duke-Game-Frontend/.env
Duke-Game-Backend/.env

# Ignore build directories
Duke-Game-Frontend/build/
Duke-Game-Backend/build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore temporary files
*.tmp
*.swp
*.swo
*.bak

# Ignore the Git folders inside frontend and backend
Duke-Game-Frontend/.git/
Duke-Game-Backend/.git/
